@import "colors";

nav{
    width:100%;
    padding: 1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color:rgb(49, 9, 9);
    top:0%;
    z-index: 10;
border-bottom-color: rgb(247, 255, 25);
border-left-color: yellow;
border-right-color: yellow;
border-style: groove;


>h2{
    text-transform: uppercase;
    color: rgb(255, 234, 0);

}
>main{
    width:70%;
    display: flex;
    justify-content:flex-end;
    

>a{
    text-transform: uppercase;
    color:white;
    margin: 1rem;
    text-shadow: 2rem yellowgreen;
 

    &:hover{
        color: rgb(219, 255, 74);
        font-size: larger;
    }
}
}
}

